In [13]:
import pandas as pd
cols=["id","first","last","gender","Marks","selected"]
df=pd.read_csv("sample.csv",usecols=cols)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [23]:
#LabelEncoder for gender Male-1,female-0

from sklearn.preprocessing import LabelEncoder
df.gender=LabelEncoder().fit_transform(df.gender)
print(df)

   id        first       last  gender     Marks  selected
0   1        Leone    Debrick       0 -0.265401      True
1   2       Romola  Phinnessy       0  0.299282     False
2   3         Geri      Prium       1  0.581624     False
3   4        Sandy   Doveston       0  2.275674     False
4   5      Jacenta     Jansik       0 -1.338300      True
5   6  Diane-marie   Medhurst       0 -0.547743      True
6   7       Austen       Pool       1 -0.547743      True
7   8        Vanya    Teffrey       1  0.863966     False
8   9     Giordano      Elloy       1 -1.055958     False
9  10       Rozele    Fawcett       0 -0.265401     False

In [31]:
df.selected=LabelEncoder().fit_transform(df.selected)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0         1
1   2       Romola  Phinnessy       0    0.0         0
2   3         Geri      Prium       1    1.0         0
3   4        Sandy   Doveston       0    1.0         0
4   5      Jacenta     Jansik       0    0.0         1
5   6  Diane-marie   Medhurst       0    0.0         1
6   7       Austen       Pool       1    0.0         1
7   8        Vanya    Teffrey       1    1.0         0
8   9     Giordano      Elloy       1    0.0         0
9  10       Rozele    Fawcett       0    0.0         0

In [33]:
#Scaling of marks
from sklearn import preprocessing
df.Marks=preprocessing.scale(df.Marks)
scaled_df=preprocessing.scale(df.Marks)
print(df)

   id        first       last  gender     Marks  selected
0   1        Leone    Debrick       0 -0.654654         1
1   2       Romola  Phinnessy       0 -0.654654         0
2   3         Geri      Prium       1  1.527525         0
3   4        Sandy   Doveston       0  1.527525         0
4   5      Jacenta     Jansik       0 -0.654654         1
5   6  Diane-marie   Medhurst       0 -0.654654         1
6   7       Austen       Pool       1 -0.654654         1
7   8        Vanya    Teffrey       1  1.527525         0
8   9     Giordano      Elloy       1 -0.654654         0
9  10       Rozele    Fawcett       0 -0.654654         0

In [35]:
#Binarizarion of marks
newarr=scaled_df.reshape(-1,1)
scaled_df_bin=preprocessing.Binarizer(threshold=0.5).transform(newarr)
df['Marks']=scaled_df_bin
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0         1
1   2       Romola  Phinnessy       0    0.0         0
2   3         Geri      Prium       1    1.0         0
3   4        Sandy   Doveston       0    1.0         0
4   5      Jacenta     Jansik       0    0.0         1
5   6  Diane-marie   Medhurst       0    0.0         1
6   7       Austen       Pool       1    0.0         1
7   8        Vanya    Teffrey       1    1.0         0
8   9     Giordano      Elloy       1    0.0         0
9  10       Rozele    Fawcett       0    0.0         0

In [38]:
#Creating duplicate data
df_duplicated=pd.concat([df]*2,ignore_index=True)
print(df_duplicated)

    id        first       last  gender  Marks  selected
0    1        Leone    Debrick       0    0.0         1
1    2       Romola  Phinnessy       0    0.0         0
2    3         Geri      Prium       1    1.0         0
3    4        Sandy   Doveston       0    1.0         0
4    5      Jacenta     Jansik       0    0.0         1
5    6  Diane-marie   Medhurst       0    0.0         1
6    7       Austen       Pool       1    0.0         1
7    8        Vanya    Teffrey       1    1.0         0
8    9     Giordano      Elloy       1    0.0         0
9   10       Rozele    Fawcett       0    0.0         0
10   1        Leone    Debrick       0    0.0         1
11   2       Romola  Phinnessy       0    0.0         0
12   3         Geri      Prium       1    1.0         0
13   4        Sandy   Doveston       0    1.0         0
14   5      Jacenta     Jansik       0    0.0         1
15   6  Diane-marie   Medhurst       0    0.0         1
16   7       Austen       Pool       1    0.0         1
17   8        Vanya    Teffrey       1    1.0         0
18   9     Giordano      Elloy       1    0.0         0
19  10       Rozele    Fawcett       0    0.0         0

In [46]:
#Remove duplication
df_duplicate_removed=pd.DataFrame.drop_duplicates(df_duplicated)
print(df_duplicate_removed)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0         1
1   2       Romola  Phinnessy       0    0.0         0
2   3         Geri      Prium       1    1.0         0
3   4        Sandy   Doveston       0    1.0         0
4   5      Jacenta     Jansik       0    0.0         1
5   6  Diane-marie   Medhurst       0    0.0         1
6   7       Austen       Pool       1    0.0         1
7   8        Vanya    Teffrey       1    1.0         0
8   9     Giordano      Elloy       1    0.0         0
9  10       Rozele    Fawcett       0    0.0         0

In [56]:
#Dataframes with NaN

df1=pd.DataFrame({
     'm1':[50,'A',60,'A',80],
     'm2':[60,'A',60,'A',80],
     'm3':[50,70,'A','A',60],
     'm4':[60,'A','A','A',60],
     'm5':['A','A','A',10,20]
    })
df1=df1.apply(pd.to_numeric,errors='coerce')
print(df1)

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   NaN
1   NaN   NaN  70.0   NaN   NaN
2  60.0  60.0   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0

In [58]:
#Make NaN in m5 as zero

df1['m5']=df1['m5'].fillna(0)
print(df1)

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0

In [60]:
#Making m2 NaN as mean
df2=df1.copy()
df2['m2'].fillna(df2['m2'].mean(),inplace=True)
print(df2)

     m1         m2    m3    m4    m5
0  50.0  60.000000  50.0  60.0   0.0
1   NaN  66.666667  70.0   NaN   0.0
2  60.0  60.000000   NaN   NaN   0.0
3   NaN  66.666667   NaN   NaN  10.0
4  80.0  80.000000  60.0  60.0  20.0

C:\Users\Poornima\AppData\Local\Temp\ipykernel_19356\2928661295.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['m2'].fillna(df2['m2'].mean(),inplace=True)

In [62]:
#Making m3 NaN as median
df3=df1.copy()
df3['m3'].fillna(df3['m3'].median(),inplace=True)
print(df3)

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0  60.0   NaN   0.0
3   NaN   NaN  60.0   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0

C:\Users\Poornima\AppData\Local\Temp\ipykernel_19356\1381836900.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['m3'].fillna(df3['m3'].median(),inplace=True)

In [66]:
#Dropping all the columns having NaN
df1=df1.dropna(axis=1)
print(df1)

     m5
0   0.0
1   0.0
2   0.0
3  10.0
4  20.0

In [68]:
#MinMax Scaling And Standard Scaling

from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

data=asarray([[1,2],[3,5],[6,7],[8,9]])
print("Original Data:\n",data)

Original Data:
 [[1 2]
 [3 5]
 [6 7]
 [8 9]]

In [73]:
scaler1=MinMaxScaler()
scaler2=StandardScaler()

scaled1=scaler1.fit_transform(data)
scaled2=scaler2.fit_transform(data)

print("MinMax Scaling:\n",scaled1)
print("Standard Scaling:\n",scaled2)

MinMax Scaling:
 [[0.         0.        ]
 [0.28571429 0.42857143]
 [0.71428571 0.71428571]
 [1.         1.        ]]
Standard Scaling:
 [[-1.29986737 -1.45010473]
 [-0.55708601 -0.29002095]
 [ 0.55708601  0.48336824]
 [ 1.29986737  1.25675744]]